[submodule "GakumasPreTranslation"]
	path = GakumasPreTranslation
	url = https://github.com/imas-tools/GakumasPreTranslation.git
[submodule "gakuen-adapted-translation-data"]
	path = gakuen-adapted-translation-data
	url = https://github.com/imas-tools/gakuen-adapted-translation-data.git
[submodule "gakumas-generic-strings-translation"]
	path = gakumas-generic-strings-translation
	url = https://github.com/imas-tools/gakumas-generic-strings-translation.git
[submodule "gakumas-master-translation"]
	path = gakumas-master-translation
	url = https://github.com/imas-tools/gakumas-master-translation.git
