/.vs
/local-files/localization_orig.json
raw/*
raw
/local-files/resource
/local-files/MO-UDShinGo-SC-Gb4-M.otf
*.pyc
/local-files/genericTrans
/local-files/localization.json
*.zip
Campus_adv_txts/
node_modules/
